{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Create Post</title>
<link href="{% static 'plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<style>
  /* Add some styling for the post form */
        .post-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          
          max-height: 90%;
        }
        .post-form form {
          width: 700px;
          margin: 20px;
          padding: 20px;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        .post-form form label,
        .post-form form input,
        .post-form form button,
        .post-form textarea,
        .post-form select {
          display: block;
          width: 100%;
          margin: 10px 0;
          box-sizing: border-box;
          font-size: 16px;
        }
        .post-form form input[type="text"],
        .post-form form input[type="file"],
        .post-form select {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
        }
        .post-form form button {
          background-color: #333;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }
        .post-form form button:hover {
          background-color: #555;
        }
        .post-form textarea {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
        }
</style>
  <!-- Add a container for the post form -->
  <div class="post-form">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="caption">Title:</label>
      <input type="text" name="title" placeholder="How to start a Blog">
      <select name="category">
        {% for cat in category %}
        <option>{{cat.name}}</option>
        {% endfor %}
      </select>
      <label for="image">Featured Imaged:</label>
      <input type="file" name="image">
      <div id="kt_docs_quill_basic" name="kt_docs_quill_basic">
      <textarea name="body" id="body">type here</textarea>
    </div>
      <button type="submit">Create Post</button>
    </form>
  </div>
  <!-- Add a floating icon for your GitHub profile -->
<a href="https://github.com/Codewithshagbaor" target="_blank" class="github-icon">
  <img src="https://avatars.githubusercontent.com/u/67190277?v=4" alt="GitHub Icon">
</a>
<script src="{% static 'plugins.bundle.js' %}"></script>
<script>
    var quill = new Quill('#kt_docs_quill_basic', {
        modules: {
            toolbar: [
                [{
                    header: [1, 2, false]
                }],
                ['bold', 'italic', 'underline'],
                ['image', 'code-block']
            ]
        },
        placeholder: 'Type your text here...',
        theme: 'snow' // or 'bubble'
    });
</script>
{% endblock content %}
