{% extends 'base.html' %}
{% block content %}
  <!-- Add a container for the login form -->
  <div class="login-form">
    <form form method="POST" action="">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username">
      <label for="password">Password:</label>
      <input type="password" name="password" id="" placeholder="********">
      <button type="submit">Login</button>
      <p style="text-align: center;">Don't have an account? <a href="{% url 'signup' %}" style="text-decoration: none;">Sign Up</a></p>
    </form>
  </div>
{% endblock %}